extends pilot_layout
  
block content

  
  -var cdn = "https://normalizationtruman.s3.us-east-2.amazonaws.com";
  
  // -var cdn = "";
  .computer.only.tablet.only.three.wide.column 
    

  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    //-.ui.active.dimmer.feed
      .ui.large.text.loader Loading
    //- Input for creating new post at top of feed
  
    each val in script
      
      
      .ui.fluid.card.dim()
        //- dimmer DIV for flagging
        .ui.dimmer.flag
              .content
                .center
                  h2.ui.inverted.icon.header
                    i.red.flag.icon
                    |  You&apos;ve flagged this!
                    h3.ui.inverted.header
                      span="The admins will review this post further. We are sorry you had this experience."
        //- Normal Base Post
        .content
          //- .right.floated.time.meta= (1547752372994 + val.time)
          .right.floated.time.meta= (Date.now()-43200000+ val.time)   
          |
          //- img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.actor.profile.picture)
          //- span=val.actor.profile.name  
          a(href='#')
            img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.actor.profile.picture)
            span=val.actor.profile.name
        //-div(style="position: relative; z-index: 1;")
          img(src="image.png" style="position: absolute; z-index: 2;")
          span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
        .img.post
          img.lazyload(data-src=cdn+"/post_pictures/"+val.picture, style="max-width:100%;width:100%;")
        .content
          .description=val.body
          .myTimer.hidden 0
        .content
          #flgComment.span.right.floated
            if val.like
              #likeButton.ui.basic.button
                //- i.big.red.heart.outline.like.icon
                i.red.large.heart.icon
                | Like
              a.ui.basic.red.left.pointing.label=val.likes
            else
              #likeButton.ui.basic.button
                //- i.big.heart.outline.like.icon
                i.heart.large.icon
                | Like
              a.ui.basic.red.left.pointing.label.count=val.likes
          //- i.flag.icon
          span.right.floated
            #falgebutton.ui.basic.button
             i.large.flag.icon
        
        if val.comments.length > 0
          .content
            .ui.comments
              each comment in val.comments
                //-IF this comment is USER made, do this
                if (val.time + comment.time) < Date.now()
                    -console.log('what is the damn script now:', script_type, comment.category)
                      control.log('does it gere hereee?')
                    
                    //- if(((script_type== 'r5' ||script_type== 'r25' ||script_type== 'r40' ||script_type== 'r60' ||script_type== 'des_20' ||script_type== 'des_80' ) && comment.des_80 == 1) || ((script_type=='des_20_community_injunctive' || script_type=='des_80_community_injunctive') &&(comment.control==1 || comment.category==='pro-vaccine')))
                    //- des_80 includes both control and anti-vaccine comments
                    if((comment.control==1) || ((script_type =='des_20' || script_type== 'des_80') &&(comment.des_80 == 1)) ||(((script_type=='des_5_injunctive_platform' || script_type=='des_30_injunctive_platform' || script_type=='des_60_injunctive_platform')&&(comment.control==1 || comment.category=="pro-vaccine"))))
                      if comment.new_comment
                        -console.log("Do we have New COMMENT AREA");
                        .comment(commentID=comment.id)
                          a.avatar.image(href='/me')
                            img(src=user.gravatar(60))
                          .content
                            a.author(href='#')=comment.actor.profile.name
                            .metadata
                              //- check this part as well.. 
                              //- span.date=(user.createdAt.getTime() + comment.time)
                              // span.date=(1547752372994 + val.time +comment.time)
                              span.date=(Date.now()-43200000 + comment.time)
                              //- span.date=(val.time + comment.time +user.createdAt.getTime())
                              -console.log('what is this span date????? : ', (val.time + comment.time))
                              .rating
                                i.heart.icon
                                span.num=0
                                |  Likes
                            .text=comment.body
                            .actions
                              a.like.comment Like
                              a.flag.comment Flag
                      //- Else this is a normal comment from the script
                      else
                        .comment(commentID=comment.id)
                          // a.author(href='#')=comment.actor.profile.name
                          a.avatar(href='/user/'+comment.actor.username)
                            // img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)                       
                            img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                          .content
                            a.author(href='#')=comment.actor.profile.name
                            .metadata
                              //- span.date=(user.createdAt.getTime() + comment.time)
                              // span.date=(1547752372994 + val.time +comment.time)
                              span.date=(Date.now()-43200000 + val.time +comment.time)
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  |  Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
                  
                
        .extra.content
          .ui.fluid.left.labeled.right.icon.input
            .ui.label
              img.ui.avatar.image(src='/profile_pictures/genericphoto6.png', name="Nick Johnson")           
            input.newcomment(type='text', placeholder='Write a Comment')
            i.big.send.link.icon

    .ui.fluid.card
      .content
        .description
        |  End of Posts
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  .computer.only.tablet.only.five.wide.column 
    .sticky
      .ui.card
        //- #example2.ui.inverted.tertiary.blue.segment
        #example2.ui.inverted.tertiary.yellow.segment
          //- .container(style='margin:1.5em 1.5em 1.5em 325px')
          //- h3.ui.header Stuck Content
          //- .ui.sticky(style='')
          .ui.divided.items
            .item
              .ui.tiny.image
                img.ui.tiny.image(src='/public/logo.png', id='logo')
              .middle.aligned.content
                h3.ui.header  Community's rules!
          h3.ui.header
            .ui.text.container
              //- h3 Community's rules!
            
            h4.ul
                //- li(style='font-style: italic;font-size:15px; color:black') We're a global community of many types of people, who all have the right to feel comfortable and who may not think what you think, believe what you believe, or see what you see. So, be polite and respectful in your interactions with other members.

                //- li The opinions expressed here are not necessarily the opinions of EatSnap.Love and we assume no responsibility for such content. Everyone has the right to freedom of opinion and expression.

                li(style='font-style: italic;font-size:18px; color:black; line-height: 1.4') We're a global and diverse community of many types of people. Please be polite and respectful in your interactions with others.
                br
                li(style='font-style: italic;font-size:18px; color:black; line-height: 1.4') We're a community that trust science. Do not spread health misinformation.
                br
                li(style='font-style: italic;font-size:18px; color:black; line-height: 1.4') If you see a rule violation, please flag the post and our moderators will take action to remove the content. 
                br
                li(style='font-style: italic;font-size:18px; color:black; line-height: 1.4') Please don&#39t call out other users. If you need moderator support regarding another user or group please flag their posts instead.

    
