extends ui_layout_no
//- extends ui_layout_feed
  
block content

  //-Change this URI to a CDN you are using for Photos
  -var cdn = "";
  .computer.only.tablet.only.four.wide.column 
    .ui.card
      .image
        if user.profile.picture
          img(src='/user_post/'+user.profile.picture)
        else
          img(src=user.gravatar(60))
      .content
        a.header(href='/me')= user.profile.name || user.username || user.id
        .meta="@"+user.username
        .description=user.profile.bio
      .one.ui.bottom.attached.icon.buttons
          button.ui.editprofile.button(data-tooltip='Update Your Profile', data-position='bottom left')
            i.write.icon

  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/public/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    //-.ui.active.dimmer.feed
      .ui.large.text.loader Loading
    //- Input for creating new post at top of feed
    #newpost.ui.fluid.left.labeled.right.icon.input
      .ui.label
        if user.profile.picture
          img.ui.avatar.image(src='/user_post/'+user.profile.picture)
        else
          img.ui.avatar.image(src=user.gravatar(60))
      input(type='text', placeholder='Share your meal')
      i.big.photo.link.icon
  
    script.
      var i=0;
    each val in script
      script.
        var i=0;
      // -console.log(i);
      // -console.log('feed VAL.id: ', val._id)
      // -console.log('postID in feed version: ', val.postID)
      if val.relativeTime
        -console.log('FRONT END USER POSTS: ', val.postID)
        -var u_class;
        -if (val.actorAuthor) {u_class = "actorReply"}
        -else if (val.reply) {u_class = "userReply"}
        -else {u_class = "userPost"}
        .ui.fluid.card(u_postID=val.id, type=u_class, postID=val.postID)
          
          //- This is a User made post
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.relativeTime)
            |  
            a.ui.avatar.image(href='/me')
              if user.profile.picture
                img(src='/user_post/'+user.profile.picture)
              else
                img(src=user.gravatar(60))
            a(href='/me')
              span=user.profile.name || user.username || user.id
          .image
            img(src='/user_post/'+val.picture)
          .content
            .description=val.body

          //- FLAG and like options...
          .content
            #flgComment.span.right.floated
              if val.like
                #likeButton.ui.basic.button
                  //- i.big.red.heart.outline.like.icon
                  i.red.large.heart.icon
                  | Like
                // a.ui.basic.red.left.pointing.label=val.likes
              else
                #likeButton.ui.basic.button
                  //- i.big.heart.outline.like.icon
                  i.heart.large.icon
                  | Like
                // a.ui.basic.red.left.pointing.label.count=val.likes
            //- i.flag.icon
            span.right.floated
              #falgebutton.ui.basic.button
               i.large.flag.icon

          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  -console.log('comment is: ', val.comments)
                  //-IF this comment is USER made, do this
                  // if (user.createdAt.getTime() + comment.time) < Date.now()
                  if (user.createdAt.getTime() + comment.time) < Date.now()
                    if !comment.flagged
                      if comment.new_comment
                        -console.log("New COMMENT AREAAA: ")
                        .comment(commentID=comment.commentID)
                          a.avatar.image(href='/me')
                            if user.profile.picture
                              img(src='/user_post/'+user.profile.picture)
                            else
                              img(src=user.gravatar(60))
                          .content
                            a.author(href='/me')=user.profile.name || user.username || user.id
                            .metadata
                            //- span.date=(user.createdAt.getTime() + comment.time)
                              span.date=(val.time + comment.time+user.createdAt.getTime())
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
                      //- Else this is a normal comment from the script
                      else
                        -console.log('this is a comment from the script yay');
                        .comment(commentID=comment.commentID)
                          a.avatar(href='/user/'+comment.actor.username)
                            //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)
                            if comment.actor.profile
                              img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                          .content
                            if comment.actor.profile
                              a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                            .metadata
                              //- span.date=(user.createdAt.getTime() + comment.time)
                              span.date= (val.time + comment.time +user.createdAt.getTime())
                              -console.log('what is this span date2 : ', (val.time + comment.time))
                              .rating
                                if comment.liked
                                  i.red.heart.icon
                                  span=comment.likes
                                  | Likes 
                                else
                                  i.heart.icon
                                  span.num=comment.likes
                                  |  Likes
                            .text=comment.body
                            .actions
                              if comment.liked
                                a.red.like.comment Like
                              else
                                a.like.comment Like
                              a.flag.comment Flag
          .extra.content
            #comment.ui.fluid.left.labeled.right.icon.input
              .ui.label
                if user.profile.picture
                  img.ui.avatar.image(src='/user_post/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                else
                  img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
              input.newcomment(type='text', placeholder='Write a Comment')
              i.big.send.link.icon

      //-THIS is for posts by Actors, not the USER
      else
        .ui.fluid.card.dim(postID=val._id, state=val.state || 'unread', type='actor', actor_un = val.actor.username, actor_name = val.actor.profile.name, actor_pic = val.actor.profile.picture)
          //- dimmer DIV for flagging
          .ui.dimmer.flag
                .content
                  .center
                    h2.ui.inverted.icon.header
                      i.red.flag.icon
                      |  You&apos;ve flagged this!
                      h3.ui.inverted.header
                        span="The admins will review this post further. We are sorry you had this experience."
          //- Normal Base Post
          .content
            .right.floated.time.meta= (user.createdAt.getTime() + val.time)
            |  
            //-a(href='/user/'+val.actor.username)
              img.ui.avatar.image(src=cdn+'/profile_pictures/'+val.actor.profile.picture)
              span=val.actor.profile.name
            a(href='/user/'+val.actor.username)     
              img.ui.avatar.image.lazyload(data-src=cdn+"/profile_pictures/"+val.actor.profile.picture)
              span=val.actor.profile.name
          //-div(style="position: relative; z-index: 1;")
            img(src="image.png" style="position: absolute; z-index: 2;")
            span#overlay_text(style="position: relative; top: -10px; z-index: 3;") OVERLAY
          .img.post
            //-img.post(src="/"+val.picture)
            //img(src='/public/picture.svg', data-src="/post_pictures/"+val.picture, style="max-width:100%;width:100%;")
            img.lazyload(data-src=cdn+"/post_pictures/"+val.picture, style="max-width:100%;width:100%;")
          .content
            .description=val.body
            .myTimer.hidden 0
          //- FLAG and like options...
          .content
            #flgComment.span.right.floated
              if val.like
                #likeButton.ui.basic.button
                  //- i.big.red.heart.outline.like.icon
                  i.red.large.heart.icon
                  | Like
                a.ui.basic.red.left.pointing.label=val.likes
              else
                #likeButton.ui.basic.button
                  //- i.big.heart.outline.like.icon
                  i.heart.large.icon
                  | Like
                a.ui.basic.red.left.pointing.label.count=val.likes
            //- i.flag.icon
            span.right.floated
              #falgebutton.ui.basic.button
               i.large.flag.icon

          if val.comments.length > 0
            .content
              .ui.comments
                each comment in val.comments
                  //-IF this comment is USER made, do this                  
                  if (val.time + comment.time) < Date.now()
                    if comment.new_comment
                      -console.log("New COMMENT AREA");
                      .comment(commentID=comment.new_comment_id)
                        a.avatar.image(href='/me')
                          if user.profile.picture
                            img(src='/user_post/'+user.profile.picture)
                          else
                            img(src=user.gravatar(60))
                        .content
                          a.author(href='/me')=user.profile.name || user.username || user.id
                          .metadata
                            //- check this part as well.. 
                            //- span.date=(user.createdAt.getTime() + comment.time)
                            span.date=(user.createdAt.getTime() +comment.time)
                            //- span.date=(val.time + comment.time +user.createdAt.getTime())
                            -console.log('what is this span date????? : ', (val.time + comment.time))
                            .rating
                              i.heart.icon
                              span.num=0
                              |  Likes
                          .text=comment.body
                          .actions
                            a.like.comment Like
                            a.flag.comment Flag
                    //- Else this is a normal comment from the script
                    else
                      .comment(commentID=comment.id)
                        a.avatar(href='/user/'+comment.actor.username)
                          //-img(src=cdn+'/profile_pictures/'+comment.actor.profile.picture)                       
                          img.lazyload(data-src=cdn+"/profile_pictures/"+comment.actor.profile.picture)
                        .content
                          a.author(href='/user/'+comment.actor.username)=comment.actor.profile.name
                          .metadata
                            //- span.date=(user.createdAt.getTime() + comment.time)
                            span.date=(val.time + comment.time+user.createdAt.getTime())
                            -console.log('print the comment time  :', val.time + comment.time)
                            -console.log('what is the comment timing now? : ', Date(comment.time))
                            -console.log('and what was this before: ', (user.createdAt.getTime() + comment.time))
                            .rating
                              if comment.liked
                                i.red.heart.icon
                                span=comment.likes
                                |  Likes 
                              else
                                i.heart.icon
                                span.num=comment.likes
                                |  Likes
                          .text=comment.body
                          .actions
                            if comment.liked
                              a.red.like.comment Like
                            else
                              a.like.comment Like
                            a.flag.comment Flag
          .extra.content
            #comment.ui.fluid.left.labeled.right.icon.input
              .ui.label
                if user.profile.picture
                  img.ui.avatar.image(src='/user_post/'+user.profile.picture, name=user.profile.name || user.username || user.id)
                else
                  img.ui.avatar.image(src=user.gravatar(60), name=user.profile.name || user.username || user.id)            
              input.newcomment(type='text', placeholder='Write a Comment')
              i.big.send.link.icon

    .ui.fluid.card
      .content
        .description
        |  End of Posts for the last 48 hours.
        //- Here I need to activate the session survey for Feed version
    .ui.fluid.card
      #sessionSurvey.ui.blue.right.fluid.button(survey_id='feed') Session Survey
        //- Here I need to activate the session survey for Feed version

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    #newpost.ui.tiny.post.modal()
      i.close.icon
      .header Add a New Post
      .content
        form#postform.ui.feed.form(action='/post/new', method='POST', enctype='multipart/form-data', study_group = 'feed')
          input(type='hidden', name='_csrf', value=_csrf)
          .field
            textarea(rows='2', placeholder='Share your meal', name='body')
          .field.image-upload
            label(for='picinput')
              .image.content
                img#imgInp.ui.fluid.image(src='/public/photo-camera.svg')
            //-input#picinput(type='file', accept='image/*', capture='camera', name='picinput')
            input#picinput(type='file', accept='image/*', name='picinput')
          .ui.error.message
      .actions
        input.ui.green.button(type='submit', name="foo", value='Submit', form='postform', study_group = 'feed')




    //- .ui.container
    //-   #surveyModal.ui.small.post.modal(modal_id='321')
    //-     .ui.fluid.card.test
    //-       .content
    //-         .fields
    //-           .wrap
    //-             h2.likert-header During this visit to EatSnap.Love, we would like to know the extent to which you felt the following emotions towards other people using this site.
    //-             form(action='')
    //-               h2.label.statement Softhearted
    //-               ul.likert
    //-                 .inline.fields
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value='strong_disagree')
    //-                       | Strong Disgree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value="disagree")
    //-                       | Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value='somewhat_disagree')
    //-                       | Somewhat Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value='neither_agree_nor_disagree')
    //-                       | neither agree nor disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value='somewhat_agree')
    //-                       | Somewhat Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value='agree')
    //-                       | agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Softhearted' value='strong_agree')
    //-                       | Strong Agree
    //-                     br
    //-               h2.label.statement Touched
    //-               ul.likert
    //-                 .inline.fields
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='strong_disagree')
    //-                       | Strong Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='disagree')
    //-                       | Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='somewhat_disagree')
    //-                       | Somewhat Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='neither_agree_nor_disagree')
    //-                       | Neither agree nor disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='somewhat_agree')
    //-                       | Somwhat Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='agree')
    //-                       | Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Touched' value='strong_agree')
    //-                       | Strong Agree
    //-                     br
    //-               h2.label.statement Sympathetic
    //-               ul.likert
    //-                 .inline.fields
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='strong_disagree')
    //-                       | Strong Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='disagree')
    //-                       | Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='somewhat_disagree')
    //-                       | Somewhat Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='neither_agree_nor_disagree')
    //-                       | Neither agree nor disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='somewhat_agree')
    //-                       | Somwhat Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='agree')
    //-                       | Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Sympathetic' value='strong_agree')
    //-                       | Strong Agree
    //-                     br
    //-               h2.label.statement Moved
    //-               ul.likert
    //-                 .inline.fields
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='strong_disagree')
    //-                       | Strong Disagree
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='disagree')
    //-                       | Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='somewhat_disagree')
    //-                       | Somewhat Disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='neither_agree_nor_disagree')
    //-                       | Neither agree nor disagree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='somewhat_agree')
    //-                       | Somwhat Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='agree')
    //-                       | Agree
    //-                     br
    //-                   h3.field
    //-                     label
    //-                       input(type='radio' name='Moved' value='strong_agree')
    //-                       | Strong Agree
    //-                     br
    //-               // h3.buttons
    //-               //   button.clear Clear
    //-               //   button.submit Submit
    //-     .content
    //-       // .ui.blue.right.floated.button(disabled='true') Submit
    //-       // #submitSession.ui.blue.right.disabled.fluid.button(survey_id='1') Submit
    //-       #submitSession.ui.blue.fluid.button(study_group='feed') Submit
    .ui.container
      #surveyModal.ui.gray.large.post.modal(modal_id='321')
        .ui.fluid.inverted.red.card.test
          .content
            .fields
              .wrap
                .ui.form
                  p(style='font-style: bold;font-size:30px; color:black') We are interested in learning about what you just experienced while using eatsnap.love. Reflect on how you felt while using the site over the last several minutes, and then answer the following questions.
                  br
                  br
                  table.ui.large.seven.column.table 
                    thead
                      tr
                          th(colspan='7')
                            | 1.  When members of the EatSnap.Love community were sad, I became sad too. 
                      
                    tbody
                      tr
                        th Strongly Disagree
                        th
                        th
                        th Neutral
                        th
                        th
                        th Strongly Agree
                      tr
                        .inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          
                          td
                            //- p(style='font-style: italic;font-size:15px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='emotion-sharing-1' value='strong_disagree', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-1' value='disagree', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-1' value='somewhat_disagree', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-1' value='neither_agree_nor_disagree', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-1' value='somewhat_agree', style="margin-right: 10" )
                                h3.label 5
                            //- h3 Very much
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='emotion-sharing-1' value='agree', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='emotion-sharing-1' value='strong_agree', style="margin-right: 10" )
                                h3.label 7
                            //- p(style='font-style: italic;font-size:20px; color:gray') Very much


                  

                  table.ui.large.seven.column.table
                    p(style='font-style: italic;font-size:50px; color:gray') 
                    thead
                      tr
                          th(colspan='7')
                            | 2. When members of the EatSnap.Love community were distressed, I felt their pain. 
                      
                    tbody

                      tr
                        th Strongly Disagree
                        th 
                        th
                        th Neutral
                        th
                        th
                        th Strongly Agree
                      tr
                        .inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='emotion-sharing-2' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-2' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-2' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-2' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='emotion-sharing-2' value='5', style="margin-right: 10" )
                                h3.label 5
                            //- h3 Very much
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='emotion-sharing-2' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='emotion-sharing-2' value='7', style="margin-right: 10" )
                                h3.label 7
                            //- p(style='font-style: italic;font-size:20px; color:gray') Very much
                  




                  //- span(style='font-style: bold;font-size:20px; color:black') 3. How warm do you feel toward the people who posted to EatSnap.Love? 
                  table.ui.large.seven.column.table
                    p(style='font-style: italic;font-size:50px; color:gray') 
                    thead
                      tr
                          th(colspan='7')
                            | 3.  While on EatSnap.Love, I understood the emotions other people were experiencing.
                      
                    tbody
                      tr
                        th Strongly Disagree
                        th 
                        th
                        th Neutral
                        th
                        th
                        th Strongly Agree
                      tr
                        .inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Mentalizing-1' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-1' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-1' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-1' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-1' value='5', style="margin-right: 10" )
                                h3.label 5
                            //- h3 Very much
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Mentalizing-1' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Mentalizing-1' value='7', style="margin-right: 10" )
                                h3.label 7
                            //- p(style='font-style: italic;font-size:20px; color:gray') Very much



                  //- span(style='font-style: bold;font-size:20px; color:black') 4. How touched do you feel toward the people who posted to EatSnap.Love? 
                  table.ui.large.seven.column.table
                    p(style='font-style: italic;font-size:50px; color:gray')
                    thead
                      tr
                          th(colspan='7')
                            | 4. I could easily tell how other members of the EatSnap.Love community were feeling. 
                      
                    tbody
                      tr
                        th Strongly Disagree
                        th 
                        th
                        th Neutral 
                        th
                        th
                        th Strongly Agree
                      tr
                        .fluid.inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Mentalizing-2' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-2' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-2' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-2' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Mentalizing-2' value='5', style="margin-right: 10" )
                                h3.label 5
                            //- h3 Very much
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Mentalizing-2' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Mentalizing-2' value='7', style="margin-right: 10" )
                                h3.label 7
                            //- p(style='font-style: italic;font-size:20px; color:gray') Very much



                  //- span(style='font-style: bold;font-size:20px; color:black') 5. How do you feel after browsing EatSnap.Love? 
                  
                  table.ui.large.seven.column.table
                    p(style='font-style: italic;font-size:50px; color:gray')
                    thead
                      tr
                          th(colspan='7')
                            | 5. How compassionate did you feel towards members of the EatSnap.Love community who were in distress? 
                      
                    tbody
                      tr
                        th Not at all
                        th
                        th 
                        th A moderate amount
                        th
                        th
                        th A great deal
                      tr
                        .fluid.inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='compassionate' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='compassionate' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='compassionate' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='compassionate' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='compassionate' value='5', style="margin-right: 10" )
                                h3.label 5
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='compassionate' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='compassionate' value='7', style="margin-right: 10" )
                                h3.label 7
                    

                  //- span(style='font-style: bold;font-size:0px; color:black') 6. How touched do you feel toward the people who posted to EatSnap.Love? 
                  table.ui.large.seven.column.table
                    thead 
                      tr
                          th(colspan='7')
                            | 6. How much sympathy did you feel for people on EatSnap.Love who were in a bad situation? 


                    tbody
                      tr
                        th Not at all
                        th
                        th
                        th A moderate amount
                        th
                        th
                        th A great deal
                      tr
                        .fluid.inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='sympathy' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='sympathy' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='sympathy' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='sympathy' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='sympathy' value='5', style="margin-right: 10" )
                                h3.label 5
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='sympathy' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='sympathy' value='7', style="margin-right: 10" )
                                h3.label 7
                          //- td
                          //-   .h3.field
                          //-     .ui.radio.checkbox
                          //-       input.hidden(type='radio' name='Effort' value='agree', style="margin-right: 10" )
                          //-       h3.label 7
                          //- td
                          //-   .h3.field
                          //-     .ui.radio.checkbox
                          //-       input.hidden(type='radio' name='Effort' value='somewhat_disagree', style="margin-right: 10" )
                          //-       h3.label 8
                          //- td
                          //-   .h3.field
                          //-     .ui.radio.checkbox
                          //-       input.hidden(type='radio' name='Effort' value='totally_agree', style="margin-right: 10" )
                          //-       h3.label 9
                          //- td
                          //-   .h3.field
                          //-     .ui.radio.checkbox
                          //-       input.hidden(type='radio' name='Effort' value='absolutely_agree', style="margin-right: 10" )
                          //-       h3.label 10
                            //- p(style='font-style: italic;font-size:20px; color:gray') Very much
                  table.ui.large.seven.column.table
                    thead 
                      tr
                          th(colspan='7')
                            | 7. How much effort did it take to understand the emotional experience of the  people on EatSnap.Love?


                    tbody
                      tr
                        th Not at all 
                        th
                        th
                        th A moderate amount
                        th
                        th
                        th A great deal
                      tr
                        .fluid.inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Effort' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Effort' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Effort' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Effort' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Effort' value='5', style="margin-right: 10" )
                                h3.label 5
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Effort' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Effort' value='7', style="margin-right: 10" )
                                h3.label 7


                  
                  table.ui.large.seven.column.table
                    thead 
                      tr
                          th(colspan='7')
                            | 8. How effective would you be in helping other people on EatSnap.Love?


                    tbody
                      tr
                        th Not at all 
                        th
                        th
                        th A moderate amount
                        th
                        th
                        th A great deal
                      tr
                        .fluid.inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Efficacy' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Efficacy' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Efficacy' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Efficacy' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Efficacy' value='5', style="margin-right: 10" )
                                h3.label 5
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='Efficacy' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='Efficacy' value='7', style="margin-right: 10" )
                                h3.label 7
                        

                  table.ui.large.seven.column.table
                    thead 
                      tr
                          th(colspan='7')
                            | 9. How close do you feel to the other people on EatSnap.Love? 


                    tbody
                      tr
                        th Not at all close
                        th
                        th
                        th Somewhat close
                        th
                        th
                        th Very close
                      tr
                        .fluid.inline.fields
                          //- label(for='gender') First question.
                          //- h3 Not at all
                          td
                            //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='closeness' value='1', style="margin-right: 10" )
                                h3.label 1
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='closeness' value='2', style="margin-right: 10" )
                                h3.label 2
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='closeness' value='3', style="margin-right: 10" )
                                h3.label 3
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='closeness' value='4', style="margin-right: 10" )
                                h3.label 4
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='closeness' value='5', style="margin-right: 10" )
                                h3.label 5
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input.hidden(type='radio' name='closeness' value='6', style="margin-right: 10" )
                                h3.label 6
                          td
                            .h3.field
                              .ui.radio.checkbox
                                input(type='radio' name='closeness' value='7', style="margin-right: 10" )
                                h3.label 7
                  
              //-     table.ui.large.eleven.column.table
              //-           p(style='font-style: italic;font-size:50px; color:gray') 
              //-           thead
              //-             tr
              //-                 th(colspan='11')
              //-                   | 10.  How do you feel right now?
                          
              //-           tbody
              //-             tr
              //-               th Very Negative
              //-               th 
              //-               th
              //-               th
              //-               th
              //-               th
              //-               th 
              //-               th
              //-               th
              //-               th
              //-               th Very Positive
              //-             tr
              //-               .inline.fields
              //-                 //- label(for='gender') First question.
              //-                 //- h3 Not at all
              //-                 td
              //-                   //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input(type='radio' name='feel' value='1', style="margin-right: 10" )
              //-                       h3.label 0


              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input.hidden(type='radio' name='feel' value='2', style="margin-right: 10" )
              //-                       h3.label 10
              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input.hidden(type='radio' name='feel' value='2', style="margin-right: 10" )
              //-                       h3.label 20
              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input.hidden(type='radio' name='feel' value='3', style="margin-right: 10" )
              //-                       h3.label 30
              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input.hidden(type='radio' name='feel' value='4', style="margin-right: 10" )
              //-                       h3.label 40
              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input.hidden(type='radio' name='feel' value='5', style="margin-right: 10" )
              //-                       h3.label 50
              //-                   //- h3 Very much
              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input(type='radio' name='feel' value='6', style="margin-right: 10" )
              //-                       h3.label 60
              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input(type='radio' name='feel' value='7', style="margin-right: 10" )
              //-                       h3.label 70

              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input(type='radio' name='feel' value='8', style="margin-right: 10" )
              //-                       h3.label 80

              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input(type='radio' name='feel' value='9', style="margin-right: 10" )
              //-                       h3.label 90

              //-                 td
              //-                   .h3.field
              //-                     .ui.radio.checkbox
              //-                       input(type='radio' name='feel' value='7', style="margin-right: 10" )
              //-                       h3.label 100
                  


              //- table.ui.large.eleven.column.table
              //-       p(style='font-style: italic;font-size:50px; color:gray') 
              //-       thead
              //-         tr
              //-             th(colspan='11')
              //-               | 11.  How lonely do you feel right now?
                      
              //-       tbody
              //-         tr
              //-           th Not at all
              //-           th 
              //-           th
              //-           th
              //-           th
              //-           th
              //-           th 
              //-           th
              //-           th
              //-           th
              //-           th A lot
              //-         tr
              //-           .inline.fields
              //-             //- label(for='gender') First question.
              //-             //- h3 Not at all
              //-             td
              //-               //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='1', style="margin-right: 10" )
              //-                   h3.label 0
              //-             td
              //-               //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='1', style="margin-right: 10" )
              //-                   h3.label 10

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='lonely' value='2', style="margin-right: 10" )
              //-                   h3.label 20
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='lonely' value='3', style="margin-right: 10" )
              //-                   h3.label 30
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='lonely' value='4', style="margin-right: 10" )
              //-                   h3.label 40
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='lonely' value='5', style="margin-right: 10" )
              //-                   h3.label 50
              //-               //- h3 Very much
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='6', style="margin-right: 10" )
              //-                   h3.label 60
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='7', style="margin-right: 10" )
              //-                   h3.label 70

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='8', style="margin-right: 10" )
              //-                   h3.label 80

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='9', style="margin-right: 10" )
              //-                   h3.label 90

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='lonely' value='7', style="margin-right: 10" )
              //-                   h3.label 100



              //- table.ui.large.eleven.column.table
              //-       p(style='font-style: italic;font-size:50px; color:gray') 
              //-       thead
              //-         tr
              //-             th(colspan='11')
              //-               | 12.  How inferior do you feel compared to others right now?
                      
              //-       tbody
              //-         tr
              //-           th Not at all
              //-           th 
              //-           th
              //-           th
              //-           th
              //-           th
              //-           th 
              //-           th
              //-           th
              //-           th
              //-           th A lot
              //-         tr
              //-           .inline.fields
              //-             //- label(for='gender') First question.
              //-             //- h3 Not at all
              //-             td
              //-               //- p(style='font-style: italic;font-size:20px; color:gray') Not at all
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='inferior' value='1', style="margin-right: 10" )
              //-                   h3.label 0
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='inferior' value='2', style="margin-right: 10" )
              //-                   h3.label 10
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='inferior' value='2', style="margin-right: 10" )
              //-                   h3.label 20
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='inferior' value='3', style="margin-right: 10" )
              //-                   h3.label 30
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='inferior' value='4', style="margin-right: 10" )
              //-                   h3.label 40
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input.hidden(type='radio' name='inferior' value='5', style="margin-right: 10" )
              //-                   h3.label 50
              //-               //- h3 Very much
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='inferior' value='6', style="margin-right: 10" )
              //-                   h3.label 60
              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='inferior' value='7', style="margin-right: 10" )
              //-                   h3.label 70

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='inferior' value='8', style="margin-right: 10" )
              //-                   h3.label 80

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='inferior' value='9', style="margin-right: 10" )
              //-                   h3.label 90

              //-             td
              //-               .h3.field
              //-                 .ui.radio.checkbox
              //-                   input(type='radio' name='inferior' value='7', style="margin-right: 10" )
              //-                   h3.label 100



              p(style='font-style: bold; font-style : italic ;font-size:25px; color:black') 10.  How do you feel right now?
              table.ui.large.eleven.column.table
                    //- p(style='font-style: italic;font-size:20px; color:black') 
                    //- thead
                    //-   tr
                    //-       th(colspan='11')
                    //-         | 10.  How do you feel right now?
                      
                    tbody
                      .range-wrap
                        input.range(type='range')
                        output.bubble


              

              p(style='font-style: bold; font-style : italic ;font-size:25px; color:black') 11.  How lonely do you feel right now?
              table.ui.large.eleven.column.table          
                    tbody
                      .range-wrap-2
                        input.range(type='range')
                        output.bubble


              p(style='font-style: bold; font-style : italic ;font-size:25px; color:black') 12.  How inferior do you feel compared to others right now?
              table.ui.large.eleven.column.table          
                    tbody
                      .range-wrap-3
                        input.range(type='range')
                        output.bubble


              //- p(style='font-style: bold; font-style : italic ;font-size:25px; color:black') 12.  How inferior do you feel compared to others right now?
              table.ui.large.seven.column.table 
                    thead 
                      tr
                          th(colspan='7')
                            | 9. I am testing this        
                    tbody
                    tr
                      th Not at all close
                      th
                      th
                      th 
                      th
                      th
                      th
                      th
                      th
                      th
                      th Very close
                    tr
                      .range-wrap-4
                        input.range(type='range')
                        output.bubble


              //- label(for='fader') Volume
              //- input.fluid#fader(type='range' min='0' max='100' value='30')


             

                    
              //- p(style='font-style: italic;font-size:20px; color:black') 11.  How lonely do you feel right now?
              //- .range-wrap-2
              //-   input.range(type='range')
              //-   output.bubble

              //- p(style='font-style: italic;font-size:20px; color:black') 12.  How inferior do you feel compared to others right now?
              //- .range-wrap-3
              //-   input.range(type='range')
              //-   output.bubble
                  


              
              
              .content
                // .ui.blue.right.floated.button(disabled='true') Submit
                // #submitSession.ui.blue.right.disabled.fluid.button(survey_id='1') Submit
                #submitSession.ui.blue.fluid.button(study_group='feed', style = "font-size:25px") Submit
    

