.ui.fluid.card.videopost(style="margin-bottom:3em", id=element)
  .content 
    h2 !{element.title}
  .content
    .ui.two.column.grid.stackable
      .seven.wide.column.centered   
        video(src=cdn+element.filepath width='100%' controls type='video/mp4')
        .content(style="padding: 0.5em 0;")
          .ui.buttons.small
            .ui.left.labeled.button
              a.ui.basic.green.right.pointing.label 2
              .ui.upvote.button(tabindex='0', data-tooltip="I like this", data-position="bottom center", data-variation="mini")
                i.thumbs.up.icon
                | Upvote
            .ui.right.labeled.button
              .ui.downvote.button(tabindex='0', data-tooltip="I dislike this", data-position="bottom center", data-variation="mini")
                i.thumbs.down.icon
                | Downvote
              a.ui.basic.red.left.pointing.label 2
          p.viewCount-div 
            i.icon.user
            span.viewCount &#32;8&#32;
            | watching
          br
          //- .ui.reply.button(style="border: 1px solid #D3D3D3 !important")
          //-     i.comment.icon
          //-     | Comment
          .ui.flag.button.small(tabindex='0', data-tooltip="Report Video", data-position="bottom center", data-variation="mini")
            i.flag.icon
            | Flag
          .ui.share.button.small(tabindex='0', data-tooltip="Share Video", data-position="bottom center", data-variation="mini")
            | Share
          .ui.card.fluid(style="background:#f9f9f9; color: black;")
            .content                   
              p !{element.date}
              p.description.short
                b Description: 
                | !{element.description}
              a.showMoreLess SHOW MORE
      .nine.wide.column.centered
        h3 Comments
        .ui.divider(style="margin:0px;")
        .ui.form
          .inline.field
            .image
              img.ui.image.rounded(src=user.profile.photo)
            textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1')
          .ui.submit.button.replyToVideo
              | Comment
          .ui.cancel.basic.blue.button.replyToVideo
              | Cancel
        .ui.comments
              .comment#actor1
                .image
                  a.avatar
                    img
                .content
                  a.author
                  .metadata
                    span.date
                  .text
                  .actions
                    a.upvote
                      i.icon.thumbs.up
                      span.num
                    a.downvote
                      i.icon.thumbs.down
                      span.num
                    a.reply 
                      | Reply
                    a.flag 
                      | Flag
                    a.share 
                      | Share
              .comment#actor2
                .image
                  a.avatar
                    img
                .content
                  a.author
                  .metadata
                    span.date
                  .text#offense
                  .actions
                    a.upvote
                      i.icon.thumbs.up
                      span.num
                    a.downvote
                      i.icon.thumbs.down
                      span.num
                    a.reply 
                      | Reply
                    a.flag 
                      | Flag
                    a.share
                      | Share
                .comments
                  .comment#actor3
                    .image
                      a.avatar
                        img
                    .content
                      a.author
                      .metadata
                        span.date
                      .text#objection
                      .actions
                        a.upvote
                          i.icon.thumbs.up
                          span.num
                        a.downvote
                          i.icon.thumbs.down
                          span.num
                        a.reply 
                          | Reply
                        a.flag 
                          | Flag
                        a.share 
                          | Share
              .comment#actor4
                .image
                  a.avatar
                    img
                .content
                  a.author
                  .metadata
                    span.date
                  .text
                  .actions
                    a.upvote
                      i.icon.thumbs.up
                      span.num
                    a.downvote
                      i.icon.thumbs.down
                      span.num
                    a.reply 
                      | Reply
                    a.flag 
                      | Flag
                    a.share 
                      | Share
        .ui.small.shareVideo.modal
          .ui.icon.header
            i.share.icon
            |     You have shared this video!
          .content(style='text-align:center;')
            h3(style='text-align:left;') Note: The "Copy Link" feature is currently disabled. 
            h4(style='text-align:left;') However, we keep track of all the links you would like to share, and at the end of the study, we will give you a list of those links so you can share them. 
            .ui.left.labeled.button.large.centered
              .ui.basic.label.pathname
            .ui.icon.button(data-tooltip="Copy Link (DISABLED)", data-position="bottom center", data-variation="mini")
              i.copy.icon
          .actions   
            .ui.green.ok.inverted.button
              i.checkmark.icon
              |   Done